<!DOCTYPE html>
<html>
<head>
	<link rel ="stylesheet" type="text/css" href="css/index.css">
	<title>Basic HTML</title>	
	<link rel ="icon" href="">
</head>
<body>
	<div id="first">
		Enter First Number:
		<input type="text" id="firstNum" /> 
	</div>
	<div id="second">
		Enter Second Number:
		<input type="" id="secondNum" /> 
	</div>
	<div>Sum is <span id="answer"></span></div>
	<button onclick="addMe()">Add Me</button>
	<br>
	<a href="/">Home</a> 

	<script type="text/javascript" src="js/app.js"></script>		
</body>
</html>
